@model Mvc3Demo3.Models.Entity.Articles

@{
    ViewBag.Title = "做梦也很累";
}

@{
    List<Mvc3Demo3.Models.Entity.Articles> list = ViewData["Articles"] as List<Mvc3Demo3.Models.Entity.Articles>;
     
    foreach (Mvc3Demo3.Models.Entity.Articles art in list)
    {
        <div class='post_list'>
            <div class='post_title'>@Html.ActionLink(art.Title, "Detail", new { id = art.ID }, new { target = "_blank" })</div>
            <div class='post_content'>@Html.Raw(@art.Content)</div>
            <div class='post_info'>@art.Date&nbsp;&nbsp;@art.TagName&nbsp;&nbsp;@art.Access&nbsp&nbsp;<a href="Home/About" target="_blank">@art.AdminName</a>&nbsp;&nbsp;<a href="Home/Tags" target="_blank">Tag</a></div>
        </div>
    }
    
    <div id='next_page' class='post_list'>
        <div id="next_p" class='post_title'>加载下一页...</div>
        <input type="hidden" id="Hid_Page" value="10" />
    </div>
}

<script id="lists" type="text/html">
<% for (var i = 0; i < count; i ++) { %>
    <div class='post_list'>
    <div class='post_title'>
        <a href='/Home/Detail/<%= list[0][i].ID %>' target='_blank' class='detail_a'><%= list[0][i].Title %></a></div>
    <div class='post_content'><%== list[0][i].Content %></div>
    <div class='post_info'><%= list[0][i].Date %>&nbsp;&nbsp;<a class='auth_a' href='#'><%= list[0][i].TagName %></a>
    &nbsp&nbsp<a href='#' target='_blank' class='auth_a'><%= list[0][i].TagName %></a>
    &nbsp&nbsp<a href='#' target='_blank' class='auth_a'>Tags</a></div></div>
<% } %>
</script>