<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/styles/index.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/login.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/bck2.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />

    <script src="@Url.Content("~/Scripts/head.min.js")" type="text/javascript"></script>
    <script>
        head.js("@Url.Content("~/Scripts/jquery-1.4.2.min.js")")
            .js("@Url.Content("~/Scripts/template.js")")
            .js("@Url.Content("~/Scripts/jquery.cookie.js")")
            .js("@Url.Content("~/Scripts/public.js")");
    </script>
</head>
<body>
    <div id="pages">
        <div id="header">
            <a name="Top"></a>
        </div>
        
        <div id="main">
            @RenderBody()
        </div>
        
        <div id="footer"></div>

        <div id="foots">
            <img src="../../Content/images/up_48.png" width="48px" height="48px" />
        </div>
    </div>
</body>
</html>
