<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/styles/index.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />

    <script src="@Url.Content("~/Scripts/head.min.js")" type="text/javascript"></script>
    <script>
        head.js("Scripts/jquery-1.4.2.min.js")
            .js("Scripts/template.js")
            .js("Scripts/jquery.cookie.js")
            .js("Scripts/public.js")
            .js("Scripts/skip.js");
    </script>
</head>
<body>
    <div id="pages">
        <div id="header">
            <input type="checkbox" class="stylec" id="bck1" value="bck1" />
            <input type="checkbox" class="stylec" id="bck2" value="bck2" />
            <input type="checkbox" class="stylec" id="bck3" value="bck3" />
        </div>
        
        <div id="main">
            @RenderBody()
        </div>
        
        <div id="footer">
        </div>
    </div>
</body>
</html>
